body {
    margin: 0px;
    overflow: hidden;
    background-image:url("image/back11.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h3 {
    text-align: center;
}

#button_1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(hsla(0, 100%, 50%, 0), hsla(0, 100%, 50%, 1));
}

#button_2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: linear-gradient(hsla(240, 100%, 50%, 0), hsla(240, 100%, 50%, 1));
}

#score_1 {
    position: absolute;
    top: 100px;
    left: 22%;
}

#score_2 {
    position: absolute;
    top: 100px;
    right: 22%;
}

#guide_1 {
    position: absolute;
    top: 350px;
    left: 18%;
}

#guide_2 {
    position: absolute;
    top: 350px;
    right: 17%;
}

.button {
    width: 50%;
    height: 200px;
}