body {
    margin: 0px;
    overflow: hidden;
    background-image:url("image/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}